				
<!-- Modal -->
<div class="modal fade" id="addAdminUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered modal-dna" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add User</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="addAdminUserForm">
				<div class="modal-body">
					<div class="form-group">
						<label for="aInputEmail">Email</label>
						<input type="email" class="form-control" name="email" id="aInputEmail" placeholder="Email" onblur="checkEmailAvailability(this.value,'aEmailAvailabilityAlert')">
					</div>
					<div id="aEmailAvailabilityAlert" class="alert alert-danger fade collapse" role="alert"></div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="aInputPassword">Password</label>
							<input type="password" class="form-control" name="password" id="aInputPassword" placeholder="Password"
								   onchange="checkPasswordComplexity(this.value,document.getElementById('aConfirmPassword').value,'aPasswordComplexityAlert')"/>
						</div>
						<div class="form-group col-md-6">
							<label for="aConfirmPassword">Confirm Password</label>
							<input id="aConfirmPassword" type="password" class="form-control" name="confirmed_password" placeholder="Confirm Password" 
								   onchange="checkPasswordComplexity(document.getElementById('aInputPassword').value,this.value,'aPasswordComplexityAlert')"/>
						</div>
					</div>
					<div id="aPasswordComplexityAlert" class="alert alert-danger fade collapse" role="alert"></div>
					<div hidden>
						<input id="usertype" type="text" class="form-control" name="usertype">
					</div>
				</div>
				<div>
					</div>
					<div class="form-group">
						<div id="accordion">
							<div class="card">
								<div class="card-header" id="aPasswordRequiermentHeading">
									<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#aPasswordRequierment" aria-expanded="true" aria-controls="aPasswordRequierment">
										Password Requirements
									</button>
								</div>
								<div id="aPasswordRequierment" class="collapse" aria-labelledby="aPasswordRequiermentHeading" data-parent="#accordion">
									<div class="card-body">
										<ul>
											<li>At least 8 characters</li>
											<li>Lowercase Alphabet</li>
											<li>Uppercase Alphabet</li>
											<li>Number</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						</div>
							<div class="form-group">
								<div id="addAddAdminWarning" class="alert alert-danger fade collapse" role="alert">
									This is a danger alert—check it out!
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" onclick="addUser(null, null, aInputEmail.value, aInputPassword.value, aConfirmPassword.value, 'addAddAdminWarning', 'admin', 'addAdminUserModal')">Create User</button>
							</div>
				</form>
			</div>
	</div>
</div>