<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab" aria-controls="pills-user" aria-selected="true">
			Users
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-awards-tab" data-toggle="pill" href="#pills-awards" role="tab" aria-controls="pills-awards" aria-selected="false">
			Awards
		</a>
	</li>
	<!--<li class="nav-item">
		<a class="nav-link" id="pills-user_awards-tab" data-toggle="pill" href="#pills-user_awards" role="tab" aria-controls="pills-user_awards" aria-selected="false">
			Awards created by Users
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-calendar-tab" data-toggle="pill" href="#pills-calendar" role="tab" aria-controls="pills-calendar" aria-selected="true">
			Awards Calendar
		</a>
	</li>-->
	<li class="nav-item">
		<a class="nav-link" id="pills-search-tab" data-toggle="pill" href="#pills-search" role="tab" aria-controls="pills-search" aria-selected="true">
			Awards Search
		</a>
	</li>
</ul>
<div class="tab-content" id="pills-tabContent">
	<div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
		<h3>Users by domain</h3><div>Select a User Type to see a subset of users by domain</div>
		<div id="users_dashboard">
			<div id="filter_uses_by_type"></div>
			<div id="chart_user_domain"></div>
			<div id="table_user_type"></div>
		</div>
	</div>
	<div class="tab-pane fade" id="pills-awards" role="tabpanel" aria-labelledby="pills-awards-tab">
		<h3>Award count by domain</h3><div>Narrow the awards date granted or select an award type to see a subset of awards</div>
		<div id="awards_dashboard">
			<div id="filter_awards_by_date"></div>
			<div id="filter_awards_by_type"></div>
			<div id="chart_award_domain"></div>
			<div id="chart_awards_table"></div>
		</div>
	</div>
	<!--<div class="tab-pane fade" id="pills-user_awards" role="tabpanel" aria-labelledby="pills-user_awards-tab">
		<div id="chart_user_awards"></div>
	</div>
	<div class="tab-pane fade" id="pills-calendar" role="tabpanel" aria-labelledby="pills-calendar-tab">
		<div id="chart_awards_calendar_table" class="in-line"></div>
	</div>-->
	<div  class="tab-pane fade" id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab">
		Search For Awards
		<form class="form-inline" id="searchForm">
			<div class="input-group mb-2 mr-sm-2">
				<label class="sr-only">first name</label>
				<input type="text" name="fname" placeholder="first name" />
				<input type="text" name="lname" placeholder="last name" />
				<input type="text" name="email" placeholder="recipient email" />
				<button type="button" onclick="displaySearchAndDisplayResults('searchForm','searchResults')">Search</button>
			</div>
		</form>

		<div id="searchResults">
			<div style="visibility: collapse;" id="no_results_message">Sorry your search produced no results</div>
			<table style="visibility: collapse;" class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Award Type</th>
						<th scope="col">Issuer Email</th>
						<th scope="col">Granted Date</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>


