				
<!-- Modal -->
<div class="modal fade" id="updateAdminPasswordModal" tabindex="-1" role="dialog" aria-labelledby="updateAdminPasswordModal" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered modal-dna" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add User</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="updateAdminPasswordForm">
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="uaInputPassword">Password</label>
							<input type="password" class="form-control" name="password" id="uaInputPassword" placeholder="Password"
								   onchange="checkPasswordComplexity(this.value,document.getElementById('uaConfirmPassword').value,'uaPasswordComplexityAlert')"/>
						</div>
						<div class="form-group col-md-6">
							<label for="uaConfirmPassword">Confirm Password</label>
							<input id="uaConfirmPassword" type="password" class="form-control" name="confirmed_password" placeholder="Confirm Password" 
								   onchange="checkPasswordComplexity(document.getElementById('uaInputPassword').value,this.value,'uaPasswordComplexityAlert')"/>
						</div>
					</div>
					<div id="uaPasswordComplexityAlert" class="alert alert-danger fade collapse" role="alert"></div>
				</div>
				<div>
					</div>
					<div class="form-group">
						<div id="accordion">
							<div class="card">
								<div class="card-header" id="uaPasswordRequiermentHeading">
									<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#uaPasswordRequierment" aria-expanded="true" aria-controls="uaPasswordRequierment">
										Password Requirements
									</button>
								</div>
								<div id="uaPasswordRequierment" class="collapse" aria-labelledby="uaPasswordRequiermentHeading" data-parent="#accordion">
									<div class="card-body">
										<ul>
											<li>At least 8 characters</li>
											<li>Lowercase Alphabet</li>
											<li>Uppercase Alphabet</li>
											<li>Number</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						</div>
							<div class="form-group">
								<div id="updateAdminPasswordWarning" class="alert alert-danger fade collapse" role="alert">
									This is a danger alert—check it out!
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" onclick="updateAdminPassword({{session.u_id}}, uaInputPassword.value, uaConfirmPassword.value, 'updateAdminPasswordWarning')">Update Password</button>
							</div>
				</form>
			</div>
	</div>
</div>