<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" href="#">Manage Basic Users</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Manage Admin Users</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Usage Reports</a>
		{{> partial}}
	</li>
</ul>