<h2>{{title}}</h2>
<div id="password-change">
  <div id="alert-box" style='display:none; width:400px;'></div>
  Please input your recovery code and new password: <br>
  <input type="text"placeholder="Recovery Code" id="recovery-code"> <br>
  <input type="password" placeholder="New Password" id="password"> <br>
  <input type="password" placeholder="Repeat Password" id="rpt-password"><br>
  Your recovery code should be included in your email. <br>
  Passwords must be at least 8 characters long and must contain the following:
  <ul>
    <li>Lowercase Alphabet</li>
    <li>Uppercase Alphabet</li>
    <li>Number</li>
  </ul> <br>
  <input type="button" value="Submit" id="submit" onclick="changePassword()">
</div>

<script>
  function changePassword() {
    var recoveryCode = document.getElementById('recovery-code').value;
    var password = document.getElementById('password').value;
    var rptPassword = document.getElementById('rpt-password').value;
    var alertBox = document.getElementById('alert-box');

    if (recoveryCode == '' || password == '' || rptPassword == '') {
      alertBox.className = "alert alert-danger";
      alertBox.innerHTML = "All fields must be filled";
      alertBox.style.display = "block";
    } else if (password != rptPassword) {
      alertBox.className = "alert alert-danger";
      alertBox.innerHTML = "Passwords must be matching";
      alertBox.style.display = "block";
    } else if (!password.match(/[0-9]/i)) {
      alertBox.className = "alert alert-danger";
      alertBox.innerHTML = "Password must contain at least 8 characters";
      alertBox.style.display = "block";
    } else if (!password.match(/[a-z]/i)) {
      alertBox.className = "alert alert-danger";
      alertBox.innerHTML = "Password must contain a lowercase letter";
      alertBox.style.display = "block";
    } else if (!password.match(/[A-Z]/i)) {
      alertBox.className = "alert alert-danger";
      alertBox.innerHTML = "Password must contain an uppercase letter";
      alertBox.style.display = "block";
    } else {
      var formData = JSON.stringify({recoveryCode, password});

      var req = new XMLHttpRequest();
      req.open('PUT', '/password_change', true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.send(formData);
      req.addEventListener('load', function() {
        if (req.status == 200) {
          alertBox.className = "alert alert-success";
          alertBox.innerHTML = "Password successfully changed";
          alertBox.style.display = "block";

          setTimeout(function() { // Redirecting user after 3 seconds
            window.location = '/';
          }, 3000);

        } else if (req.status == 403) {
          alertBox.className = "alert alert-danger";
          alertBox.innerHTML = "Invalid passcode. Please try again";
          alertBox.style.display = "block";
        } else {
          alertBox.className = "alert alert-danger";
          alertBox.innerHTML = "Something seriously went wrong";
          alertBox.style.display = "block";
        }
      });
    }
  }
</script>
