<h2>{{title}}</h2>
<div id="password-recovery">
	<div id="alert-box" style='display:none; width:400px;'></div>
	Please input the email address associated with your account to change your password.<br>
	<input type="text" placeholder="Email" id="email">
  <input type="button" value="Submit" id="submit" onclick="submitEmail()">
</div>

<script>
  function submitEmail() {
    var email = document.getElementById('email').value;
    var alertBox = document.getElementById('alert-box');

    if (email == '') {
      alertBox.className = "alert alert-danger";
      alertBox.innerHTML = "The only field is literally blank!";
      alertBox.style.display = "block";
    } else {
      var req = new XMLHttpRequest();
      req.open('PUT', '/password_recovery', true);
      req.setRequestHeader('Content-Type', 'application/json');

      var formData = JSON.stringify({email});
      req.send(formData);

      req.addEventListener('load', function() {
        if (req.status == 200) {
          alertBox.className = "alert alert-success";
          alertBox.innerHTML = "Email sent! Please check your inbox for further instructions.";
          alertBox.style.display = "block";
        } else if (req.status == 404) {
          alertBox.className = "alert alert-danger";
          alertBox.innerHTML = "There is no associated account with this email.";
          alertBox.style.display = "block";
        } else {
          console.log('Something seriously went wrong');
          alertBox.className = "alert alert-danger";
          alertBox.innerHTML = "Unexpected Error";
          alertBox.style.display = "block";
        }
      });
    }
  }
</script>

