<h2>{{title}}</h2>
<div id="registration">
	<input type="email" placeholder="Email" id="email"><br>
	<input type="password" placeholder="Password" id="password"><br>
	<input type="password" placeholder="Repeat Password" id="rpt-password"><br>
	<div>
		<canvas id="signature-pad" style="border:black 1px solid;"></canvas>
	</div>
	<button id="clear">Clear</button>
	<p>By creating an account with us, you agree to our <a href="#">Terms & Privacy</a>.</p>
	<input type="button" value="Sign Up" id="submit" onclick="addUser()">
</div>

<script src="/scripts/signature_pad/dist/signature_pad.min.js"></script>

<script>
	var canvas = document.getElementById('signature-pad');
	var signaturePad = new SignaturePad(canvas, {
		backgroundColor: 'rgba(255, 255, 255, 0)',
		penColor: 'rgb(0, 0, 0)'
	});

	var clearBtn = document.getElementById('clear');

	clearBtn.addEventListener('click', function (event) {
		signaturePad.clear();
	});

	function addUser() {
		var email = document.getElementById('email').value;
		var password = document.getElementById('password').value;
		var rptPassword = document.getElementById('rpt-password').value;
		var base64 = signaturePad.toDataURL();
		if (password != rptPassword) { // If passwords to not match
			var passwordError = document.createTextNode("Error: Passwords do not match!");

			document.getElementById('registration').appendChild(passwordError);
		} else {
			var formData = {email, password, base64}; // We're just sending password as plaintext. Must be changed later

			var req = new XMLHttpRequest();
			req.open('POST', '/add_user', true);
			req.setRequestHeader("Content-Type", "application/json");

			formData = JSON.stringify(formData);
			req.send(formData);

			req.addEventListener('load', function() {
				if (req.status == 200) {
					alert('login success'); // Don't use alert later
					//window.location = '/login';
				} else {
					alert('Something seriously went wrong'); // Do not use alert boxes later
				}
			});
		}
	}
</script>
