<h2>User Account Error</h2>
<h3>{{error_message}}</h3>
<h3>{{redirect_message}}</h3>

<style>
	body {
    	padding-top: 50px;
  	}
</style>

<script>
    setTimeout(function() {
        window.location = "{{redirect_location}}";
    }, {{timeout_ms}})
</script>